[submodule "submodules/github.com/chriskempson/base16-shell"]
	path = submodules/github.com/chriskempson/base16-shell
	url = https://github.com/chriskempson/base16-shell.git
[submodule "submodules/github.com/chriskempson/base16-vim"]
	path = submodules/github.com/chriskempson/base16-vim
	url = https://github.com/chriskempson/base16-vim
[submodule "submodules/github.com/NuckChorris/assault"]
	path = submodules/github.com/NuckChorris/assault
	url = https://github.com/NuckChorris/assault.git
[submodule "submodules/github.com/majutsushi/urxvt-font-size"]
	path = submodules/github.com/majutsushi/urxvt-font-size
	url = https://github.com/majutsushi/urxvt-font-size.git
[submodule "submodules/github.com/copycat-killer/lain"]
	path = submodules/github.com/copycat-killer/lain
	url = https://github.com/copycat-killer/lain.git
[submodule "submodules/github.com/Mic92/vicious"]
	path = submodules/github.com/Mic92/vicious
	url = https://github.com/Mic92/vicious
[submodule "submodules/github.com/scottgreenup/lain"]
	path = submodules/github.com/scottgreenup/lain
	url = https://github.com/scottgreenup/lain.git
[submodule "submodules/github.com/phillipberndt/autorandr"]
	path = submodules/github.com/phillipberndt/autorandr
	url = https://github.com/phillipberndt/autorandr
