[Unit]
Description=Run the bluetooth_battery script to populate battery info for i3

[Service]
Type=oneshot
ExecStart=/usr/bin/sh -c '/home/emoreau/bin/bluetooth_battery all > /home/emoreau/.config/bluetooth_battery_levels'
